In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
data = pd.read_csv("/content/creditcard.csv")
print(data.head())

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [14]:
data.shape

(179610, 31)

In [15]:
data = data.dropna()

In [16]:
data.shape

(179609, 31)

In [17]:
X = data.drop('Class',axis=1)
Y = data['Class']

In [32]:

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.05,random_state=42,stratify=Y)

In [35]:
X_test.to_csv("Test_credicard_data.csv",index=False)

In [33]:
X_test.shape

(8981, 30)

In [18]:
X.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
dtype: int64

In [20]:
model = IsolationForest(n_estimators=100, max_samples='auto', 
                                       contamination=0.2,
                                       random_state=42, 
                                       verbose=0)
model.fit(X)
print(model.get_params())
data['scores'] = model.decision_function(X)
data['anomaly_score'] = model.predict(X)
print('Anomalous Data')
print(data[data['anomaly_score'] == -1].head())

{'behaviour': 'deprecated', 'bootstrap': False, 'contamination': 0.2, 'max_features': 1.0, 'max_samples': 'auto', 'n_estimators': 100, 'n_jobs': None, 'random_state': 42, 'verbose': 0, 'warm_start': False}
Anomalous Data
    Time        V1        V2        V3  ...  Amount  Class    scores  anomaly_score
2    1.0 -1.358354 -1.340163  1.773209  ...  378.66    0.0 -0.042113             -1
7    7.0 -0.644269  1.417964  1.074380  ...   40.80    0.0 -0.067170             -1
14  12.0 -2.791855 -0.327771  1.641750  ...   58.80    0.0 -0.037651             -1
18  14.0 -5.401258 -5.450148  1.186305  ...   46.80    0.0 -0.094088             -1
21  17.0  0.962496  0.328461 -0.171479  ...   34.09    0.0 -0.030452             -1

[5 rows x 33 columns]

In [25]:
data[(data['Class'] ==1)&(data['anomaly_score'] == -1)].shape

(328, 33)

In [24]:
data[data['anomaly_score'] ==1].

            Time        V1        V2  ...  Class    scores  anomaly_score
0            0.0 -1.359807 -0.072781  ...    0.0  0.050654              1
1            0.0  1.191857  0.266151  ...    0.0  0.051284              1
3            1.0 -0.966272 -0.185226  ...    0.0  0.005446              1
4            2.0 -1.158233  0.877737  ...    0.0  0.027751              1
5            2.0 -0.425966  0.960523  ...    0.0  0.055252              1
...          ...       ...       ...  ...    ...       ...            ...
179601  124153.0  1.786904 -1.454071  ...    0.0  0.012419              1
179602  124153.0  2.004683 -0.305812  ...    0.0  0.053491              1
179603  124153.0 -0.155943  1.190031  ...    0.0  0.020786              1
179604  124153.0  1.917694 -0.421875  ...    0.0  0.008371              1
179608  124156.0  2.058784 -0.048015  ...    0.0  0.044940              1

[143687 rows x 33 columns]

## Model Evaluation

In [27]:
pred_anom = data[(data['Class'] == 1) & (data['anomaly_score'] ==-1)].shape[0]
total_anom = data[data['Class'] == 1].shape[0]
#model evaluation
accuracy = 100 * pred_anom /total_anom
print(f'accuracy of the model : {accuracy} %')

accuracy of the model : 90.10989010989012 %

## Save the model

In [28]:
import pickle
pickle_out = open("isolationforest.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()